header {
  min-height: 60px;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
}
.header__links {
  width: 30%;
  height: 100%;
  margin: 0;
}
.header__links + div {
  cursor: pointer;
}
.header_link.active {
  font-size: 1.1rem;
  position: relative;
}
.header_link.active::after {
  position: absolute;
  content: "";
  width: 130%;
  border-radius: 10rem;
  height: 7px;
  background: #2f80ed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.55rem;
}
.profile__image {
  width: 35px;
  height: 35px;
  background: url(../postimages/10.jpeg) center;
  background-size: cover;
  border-radius: 10px;
  margin-right: 10px;
}
.profile__menu {
  border-radius: 10px;
  position: absolute;
  right: 3.5rem;
  min-width: 10.5rem;
  background: #fff;
  z-index: 1;
}
header > div {
  position: relative;
}
.link a {
  color: #515151 !important;
  font-size: 0.94rem;
  width: 100%;
}
.link {
  border-radius: 3px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.link:hover {
  background: rgb(219, 219, 219);
}
/* .profile__menu .link:last-of-type a{
  color: #dc3545 !important
} */
.link svg {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .header__links,
  .usernameStuff .emphasis {
    display: none;
  }
  .usernameStuff .profile__image {
    margin: 0;
  }
  .profile__menu {
    right: 1rem;
    min-width: auto;
  }
  .link{
    font-size: 90%;
  }
}
