.profile__details{
  background:white;
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  transform: translateY(-50%);
  height: 150px;
  border: 1px solid lightgray;
}
.large__profile__image{
  width: 150px!important;
  height: 150px!important;
  transform: translateY(-50%);
  margin-right: 30px;
  border: 3px solid white;
}
.large__profile__image + div{
  max-width: 55%;
  height: 100%;
}
.user__details{
  flex-direction: column;
}
.details div{
  width: 43%;
  align-items: center;
  justify-content: space-between;
}