.tweets__area{
  width: 70%;
  margin: auto;
}
.tweets__sort{
  width: 25%;
  height: 200px;
  box-shadow: 0px 3px 2px rgb(187, 183, 183);
  border-radius: 10px;
  overflow: hidden;
  margin-right: 40px;
}
.tweets__sort ul{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px 0 10px 20px;
  flex-direction: column;
  justify-content: space-around;
}
.tweets__sort .active{
  position: relative;
}
.tweets__sort a::before{
  transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  content: '';
  position: absolute;
  height: 130%;
  width: 3px;
  background-color: #2f80ed;
  border-radius: 10rem;
  top: 50%;
  transform: translateY(-50%);
  left: -28px;
}
.tweets__sort a.active::before{
  left: -21px;
}
.tweet{
  border: 0.5px solid rgb(59, 59, 59);
  border-radius: 10px;
  width: 100%;
}
.tweets{
  flex: 1;
}
.tweet .profile__image, .suggestion .profile__image{
  width: 45px;
  height: 45px;
}
.name__time{
  display: flex;
  height: 45px;
  flex-direction: column;
  margin-left: 10px;
}
.tweet__image{
  width: 100%;
height: 300px;
border-radius: 10px;
background-size: cover;
background-position: center;
}
.tweet__comment__link button{
  text-transform:capitalize!important;
  font-family: inherit;
  width: 130px;
}
.tweet p{
  font-size: 0.93rem
}
.trends, .following__suggestion{
  border: 1px solid rgb(216, 215, 215);
  border-radius: 15px;
}
.hashtag{
  cursor: pointer;
}
.suggestion{
  position: relative;
}
.suggestion:not(.last):after{
  position: absolute;
  content: '';
  width: 50%;
  height: 1px;
  background: rgb(216, 215, 215);
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.75rem;
}
.comment__form textarea{
  border: none;
  outline: none;
  height: 30px;
  width: 80%;
}
.comment__form{
  border: 1px solid rgb(216, 215, 215);
  margin-top: 10px;
  border-radius: 9px;
  padding: 6px;
}
button{
  outline: none!important;
}
.MuiButton-root{
  color: inherit!important;
}
.btn-text{
  display: inline;
}
@media screen and (max-width: 768px){
  .btn-text{
    display: none;
  }
}