.tweet__form{
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgb(216, 215, 215);
  resize: none;
}
.tweet__form .profile__image{
  width:40px;
  height: 40px;
  margin-top: -6px;
}
.tweet__form textarea{
  border: none;
  height: 60px;
  resize: none;
}
.tweet__create__actions{
  color: #2f80ed;
  align-items: center;
}
.tweet__create__actions *{
  cursor: pointer;
}