*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Poppins, sans-serif;
}
header a:not(.active){
  color: rgb(141, 141, 141)!important;
}

a{
  transition: color 0.3s ease;
}
a.main, a.active{
  font-weight: bolder;
}
.w-55{
  width:55%!important;
}
.centered{
  display:flex;
  align-items: center;
  justify-content: center;
}
.emphasis{
  font-size: 0.95rem;
  font-weight: bolder;
}
.small{
  font-size: 0.85rem;
}
.cover__picture{
  background: url(bg.jpg) center;
  background-size: cover;
  width: 100%;
  height:250px;
}
.faded{
  /*color: rgb(141, 141, 141);*/
  opacity: 0.8;
}
button svg{
  width: 0.8em!important;
  height: 0.8em!important;
  margin-right: 4px;
}
textarea{
  resize: none;
}
.btn{
  border-color: transparent!important;
  color: white!important;
}
.btn:hover, .btn:focus{
  opacity: 0.8;
  border-color: transparent!important;
}

/* Dark mode styles */
/*body{
  background: black;
  color: white;
}
textarea{
  background: black;
  color: white;
}
.profile__details{
  background: black!important;
  color: white;
}
.MuiButton-root:not(.active){
  color: white;
}
.comment__form, .tweet__form, header, .trends, .following__suggestion{
  border-color: rgb(59, 59, 59)!important;
}
.faded{
  color: rgb(180, 180, 180);
}*/